@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 5s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(81, 38, 234);
  border-radius: 20px;
  border: 1px solid white;
}

body {
  overflow: overlay;
}
